@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #98D1E5;
  background-image: url("https://img.freepik.com/free-vector/green-plant-doodle-frame-vector-with-blank-space_53876-136737.jpg");
  background-repeat: repeat;
  background-size: contain;
}
